
* {
    margin: 0;
    padding : 0;
}

body {
    background-color: #2D283E;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.box {
    width: 400px;
    height: 300px;
    margin: 10px;
   /* background-color: rgba(53, 0, 211, 0.9);*/
   background-color: #C3073F;
   box-shadow: 0 0 300px #000;
}

.box:hover {
    background-color: rgb(27, 25, 25);
    cursor: pointer;
    transform: translateY(-10px);
    transition: 1s;
}

.title {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
}

.explore {
    margin-top: 80px;
    margin-left: 5px;
    color: #fff;

    padding: 15px 25px;
    border: none;
    font-weight: 600;

    background-color: black;
    box-shadow: 0 0 100px #000;
}

.content-tag {
    margin-top: 80px;
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


