* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #C3073F;
    margin: 50px 10% 0 10% ;
    height: 300px;
    width: 80%;
    box-shadow: 0 0 300px #000;

    border-radius: 0 0 20% 20%;  
}

.logo {
    height: 220px;
    width: 250px;
    margin: 0 0 0 20px;
    box-shadow: -1px 0px 1px  rgb(226, 219, 219) ;
}

.tagline, .slogan {
    background-image: linear-gradient(to right, #F2F2F2, #fff, #FFFFFF);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
}

.tagline {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 0 0 0 ;
    font-size: 22px;
    font-weight: 600;
}

.slogan {
    font-family: cursive;
    margin: 20px 0 0 0 ;
    font-size: 20px;
    font-weight: 400;
}